<p-toolbar styleClass="app-header">
    <div class="p-toolbar-group-start">
        <a class="brand-link" routerLink="/">
            FastTravel
        </a>
    </div>

    <div class="p-toolbar-group-end">
        <div class="nav-buttons">
            <button pButton label="Login" class="p-button-outlined p-button-secondary me-2" routerLink="/Login"></button>
            <button pButton label="Sign Up" class="p-button-primary" routerLink="/CadastroUsuario"></button>
        </div>
    </div>
</p-toolbar>