<div class="cadastro-page-container">
    <div class="card p-5">
        <h2 class="card-title text-center mb-5">Registro de usuário</h2>
        
        <form (ngSubmit)="onSubmit()">
            <div class="row g-3">
                
                <div class="col-md-6">
                    <label for="nome" class="form-label">Nome</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-person"></i></span>
                        <input type="text" class="form-control" id="nome" [(ngModel)]="nome" name="nome" placeholder="Seu nome completo" required>
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="cpf" class="form-label">CPF</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-credit-card"></i></span>
                        <input type="text" class="form-control" id="cpf" name="cpf" placeholder="000.000.000-00" [(ngModel)]="cpf" mask="000.000.000-00" required>
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="email" class="form-label">E-mail</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                        <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" placeholder="seu@email.com" required>
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="senha" class="form-label">Senha</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-lock"></i></span>
                        <input type="password" class="form-control" id="senha" [(ngModel)]="senha" name="senha" placeholder="*******" required>
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="profissao" class="form-label">Profissão</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-briefcase"></i></span>
                        <input type="text" class="form-control" id="profissao" [(ngModel)]="profissao" name="profissao" placeholder="Sua profissão">
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="renda" class="form-label">Renda Mensal</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-currency-dollar"></i></span>
                        <input type="number" step="0.01" class="form-control" id="renda" [(ngModel)]="renda" name="renda" placeholder="R$ 0,00">
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="data_nascimento" class="form-label">Data de Nascimento</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-calendar"></i></span>
                        <input type="date" class="form-control" id="data_nascimento" [(ngModel)]="data_nascimento" name="data_nascimento" required>
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="sexo" class="form-label">Sexo</label>
                    <select class="form-select" id="sexo" [(ngModel)]="sexo" name="sexo" required>
                        <option value="">Selecione...</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Feminino">Feminino</option>
                        <option value="Outro">Outro</option>
                    </select>
                </div>
            </div>

            <div class="d-grid mt-4">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </form>
    </div>
</div>