.home-container {
  background-color: #313131; /* A cor cinza para o conteúdo da home */
  min-height: calc(100vh - 80px); /* Garante que o fundo cubra a tela */
  padding-top: 100px; /* Cria o espaço abaixo do header */
  margin-top: 80px;
}

h1,p{
  color: white;
}

.btn-primary {
    background-color: #6e0823;
    border: none;
    font-weight: bold;
}
.btn-secondary {
    background-color:#0d6efd;
    border: none;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #810826;
}