<div class="home-container">
    <div class="container mt-5 pt-5" style="margin-top: 100px;">
        <div class="text-center mb-5">
            <h1>Bem-vindo ao Painel FastTravel</h1>
            <p class="lead">Escolha uma opção para começar:</p>
  </div>
  <div class="row justify-content-center g-4">
    <div class="col-md-4">
        <div class="card bg-secondary text-white h-100">
            <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="card-title">Destinos</h5>
                <a routerLink="/destinos/listar" class="btn btn-primary mt-3">Ir para Lista de Destino</a>
        </div>
    </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-secondary text-white h-100">
        <div class="card-body d-flex flex-column justify-content-between">
          <h5 class="card-title">Dependentes</h5>
          <a routerLink="/dependentes/listar" class="btn btn-primary mt-3">Ir para Lista de Dependentes</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>